.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    border: 0px solid;
     margin: 200px auto;
   padding-bottom: 100px;
   padding-top: 30px;
   background: transparent;
   backdrop-filter: blur(10px);
   border-color: rgba(255, 255, 255, 0.286);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5) ;
    

}
.inputs{
    display: flex;
    margin-bottom: 10px;
    
    

    
}
.input-btn{
    border-radius: 20px;
    border: 1px solid;
    border: none;
    padding:10px;
    padding-left: 15px;
    outline: none;
    background-color: violet;
    accent-color: black;

    
}
.rememberme-forgot{

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;

    

}

.btn-login{
    font-weight: bold;
    height: 30px;
    width:120px;
    border-radius: 30px;
    border: 0.5;
    border-color: rgba(238, 130, 238, 0.238);
    background-color: rgb(146, 98, 228);
    color: rgb(58, 9, 103);
    box-shadow: 0px 0px 3px rgba(78, 7, 81, 0.632); 
}
.create{
    font-weight: bold;
    font-size: 10px ;
    margin-top: 20px;
}